<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error404</title>
</head>
<body>
    <header>
        <h1>ERROR:{{ error }}</h1>
    </header>
        <section class="seccion-principal">
            <fieldset class="fieldset-principal">
                <div>
                    <nav class="nav-principal">
                        <a href="http://localhost:5000/inicio_sesion">Volver a iniciar sesion</a> 
                        <a href="http://localhost:5000">Volver a inicio</a>
                        <button onclick="window.history.back();" name="VOLVER">VOLVER</button>
                    </nav>
                </div>
            </fieldset>
        </section>
</body>
</html>